@font-face {
    font-family: 'MainFont';
    src: url('/fonts/Iori\ Bold.otf') format("opentype");    
}

body{
    scroll-behavior: smooth;
    /*font-family:'MainFont';*/
}

#large-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.img-thumbnail {
  width: 100%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.btn-secondary {
  background-color: rgb(43, 179, 172);
  color: white;
}
